.nav-menu {
  position: fixed;
  inset: 5.25rem 0 auto 0;
  background: rgb(26, 16, 48, 0.8);
  backdrop-filter: blur(10px);
  width: 79%;
  margin: 0 auto;
  border-radius: 1rem;
  /* display: grid; */
  display: none;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem 1.5rem;
}

.nav-menu > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.3rem;
}

.nav-menu > div > a {
  text-decoration: none;
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
  text-align: center;
  background: #ffffff36;
  padding: 4px 3px;
  border-radius: 5px;
}

.nav-menu-long {
  margin-top: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
}
