nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(158, 154, 154, 0.413);
  backdrop-filter: blur(10px);
  position: sticky;
  inset: 0;
  width: 58%;
  top: 2.5rem;
  margin: 2.5rem auto 3.5rem auto;
  border-radius: 15px;
  padding: 16px 20px;
}

nav h2 {
  color: white;
  font-size: 1.8rem;
  margin-left: 0.8rem;
}

nav > div {
  display: flex;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav > div > * {
  color: white;
  text-decoration: none;
}

nav > div > *:hover {
  color: rgb(173, 163, 189);
}

nav > button {
  background: white;
  color: red;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 750px) {
  nav {
    width: 80%;
    top: 1.2rem;
    margin: 1.2rem auto 0rem auto;
  }
  nav > div {
    display: none;
  }
}
