.NavMenu {
  position: fixed;
  inset: 0;
  width: 77%;
  height: 70%;
  margin: auto;
  padding: 2rem;
  background: #1f082ed7;
  backdrop-filter: blur(2rem);
  inset: 0 0;
  width: 70%;
  height: 70%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin: auto;
  border-radius: 1rem;
  animation: abc .2s ease-in ;
}

.NavMenu > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;
}

.NavMenu > div > * {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  
}
.NavMenu > div > h2 {
  padding-bottom: 1rem;
}

@keyframes abc {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
